<section class="partners">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 partners-title">Clients</div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-4 col-xs-12">
          <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/intel.png" alt="Intel" title="Intel"></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
          <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/inlea.png" alt="Inlea" title="Inlea"></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
          <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/telekom.png" alt="Telekom" title="Telekom"></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
          <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/cisco.png" alt="CISCO Networking Academy" title="CISCO Networking Academy"></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
          <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ibot.png" alt="iBot" title="iBot"></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
          <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/redpitaya.png" alt="Red Pitaya" title="Red Pitaya"></span>
        </div>
      </div>
    </div>
  </section>