<section class="partners">
    <div class="container">
        <div class="col-md-2 col-sm-0 col-xs-0"></div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 partners-title">Sponsors</div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/nxp-logo.png" alt="NXP" title="NXP"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/techlounge.png" alt="Tech Lounge" title="Tech Lounge"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/wyliodrin.png" alt="Wyliodrin" title="Wyliodrin"></span>
            </div>
        </div>
        <div class="col-md-2 col-sm-0 col-xs-0"></div>
    </div>
  </section>