<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Documentation</title>
  <!-- <meta name="keywords" content="Wyliodrin, IoT, tutorial, wiki"> -->
  <meta name="description" content="If you need tutorials, books or videos to help you learn and develop even further, we can help you.">
  <link rel="canonical" href="https://wyliodrin.com/docs" />
  
  <% include libraries %>

     </head>

     <body>

      <section id="top" class="top-side3 background parallax" style="background-image:url('/images/bg/docsbg.jpg');" data-img-width="1920" data-img-height="811" data-diff="100">
        <% include menu %>

        <div class="header-bottom3">
          <div class="container">
            <div class="row">
              <a href="https://www.youtube.com/wyliodrin" onclick="event_docs_youtube()" target="_blank" class="col-md-4 col-sm-4 col-xs-4 prod">
                <div class="effectbg"></div>
                <div class="icon-prod text-center">
                  <div>
                    <span class="helper"></span>
                    <img src="/images/youtube-icon.png" class="main-icon">
                    <img src="/images/circle1.png" class="circle1" style="rotate(125deg); -webkit-transform: rotate(125deg); transform: rotate(125deg);">
                    <img src="/images/circle2.png" class="circle2" style="rotate(305deg); -webkit-transform: rotate(305deg); transform: rotate(305deg);">
                  </div>
                  <h2 text-center>Youtube Channel</h2>
                </div>
              </a>
              <a href="https://www.github.com/Wyliodrin" onclick="event_docs_wiki()" target="_blank" class="col-md-4 col-sm-4 col-xs-4 prod">
                <div class="effectbg"></div>
                <div class="icon-prod text-center">
                  <div>
                    <span class="helper"></span>
                    <img src="/images/wiki-icon.png" class="main-icon">
                    <img src="/images/circle1.png" class="circle1" style="rotate(55deg); -webkit-transform: rotate(55deg); transform: rotate(55deg);">
                    <img src="/images/circle2.png" class="circle2" style="rotate(185deg); -webkit-transform: rotate(185deg); transform: rotate(185deg);">
                  </div>
                  <h2 text-center>Open Source</h2>
                </div>
              </a>
              <a href="https://www.wyliodrin.com/faq/" onclick="event_docs_faq()" target="_blank" class="col-md-4 col-sm-4 col-xs-4 prod">
                <div class="effectbg"></div>
                <div class="icon-prod text-center">
                  <div>
                    <span class="helper"></span>
                    <img src="/images/faq-icon.png" class="main-icon">
                    <img src="/images/circle1.png" class="circle1" style="rotate(85deg); -webkit-transform: rotate(85deg); transform: rotate(85deg);">
                    <img src="/images/circle2.png" class="circle2" style="rotate(225deg); -webkit-transform: rotate(225deg); transform: rotate(225deg);">
                  </div>
                  <h2 text-center>F.A.Q.</h2>
                </div>
              </a>
            </div>
          </div>
        </div>

      </section>

      <nav aria-label="breadcrumb" class="breadcrumb-box">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/iot-education">IoT Education</a></li>
            <li class="breadcrumb-item active" aria-current="page">Docs</li>
          </ol>
        </div>
      </nav>

      <section class="books">
        <div class="container">
          <div class="col-md-12 col-sm-12 col-xs-12"><h3>Published Books</h3></div>
          <p>Given our teaching experience, we decided to <strong>help students</strong> explore <strong>working on IoT projects</strong> of their own. <strong>Our books aim</strong> to provide the <strong>knowledge</strong> and <strong>tutorials</strong> needed to succeed.</p>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="book-box" data-aos="zoom-out">
              <div class="book-cover text-center">
                <img src="/images/books/smart-cities.jpg">
                <div class="bookbg"></div>
                <div class="bookbg2"></div>
                <div class="bookbg3"></div>
                <div class="bookbg4"></div>
              </div>
              <h4 class="text-center">Building a Smart City Infrastructure using Raspberry Pi and Arduino with Wyliodrin STUDIO</h4>
              <div class="book-btns">
                <form action="/books/building-a-smart-city-infrastructure-using-raspberry-pi-and-arduino-with-wyliodrin-STUDIO.pdf" target="_blank">
                  <button type="submit" onclick="event_docs_book_download('smart_city')"><img src="/images/download-orange-icon.png"></button>
                </form>
                <form action="https://issuu.com/wyliodrin/docs/building_a_smart_city_infrastructur" target="_blank">
                  <button type="submit" onclick="event_docs_book_link('smart_city')"><img src="/images/link-orange-icon.png"></button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="book-box" data-aos="zoom-out">
              <div class="book-cover text-center">
                <img src="/images/books/getting-started-rpi-arduino.jpg">
                <div class="bookbg"></div>
                <div class="bookbg2"></div>
                <div class="bookbg3"></div>
                <div class="bookbg4"></div>
              </div>
              <h4 class="text-center">Getting started guide for Raspberry Pi and Arduino using Wyliodrin</h4>
              <div class="book-btns">
                <form action="/books/getting-started-guide-for-raspberry-pi-and-arduino-using-wyliodrin.pdf" target="_blank">
                  <button type="submit" onclick="event_docs_book_download('raspberry')"><img src="/images/download-orange-icon.png"></button>
                </form>
                <form action="https://issuu.com/wyliodrin/docs/getting_started_guide_for_raspberry" target="_blank">
                  <button type="submit" onclick="event_docs_book_link('raspberry')"><img src="/images/link-orange-icon.png"></button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="book-box" data-aos="zoom-out">
              <div class="book-cover text-center">
                <img src="/images/books/getting-started-intel.jpg">
                <div class="bookbg"></div>
                <div class="bookbg2"></div>
                <div class="bookbg3"></div>
                <div class="bookbg4"></div>
              </div>
              <h4 class="text-center">Getting started guide for Intel(R) Galileo and Intel(R) Edison using Wyliodrin</h4>
              <div class="book-btns">
                <form action="/books/getting-started-with-intel-galileo-and-intel-edison-using-wyliodrin.pdf" target="_blank">
                  <button type="submit" onclick="event_docs_book_download('intel')"><img src="/images/download-orange-icon.png"></button>
                </form>
                <form action="https://issuu.com/wyliodrin/docs/getting_started_guide_for_intel_gal" target="_blank">
                  <button type="submit" onclick="event_docs_book_link('intel')"><img src="/images/link-orange-icon.png"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="links grey-bg">
        <div class="container text-center">
          <div class="col-md-12 col-sm-12 col-xs-12"><h3>More on Wyliodrin</h3></div>
          <a href="https://netacadeurope.wordpress.com/tag/technology-in-action/" target="_blank"><img src="/images/link-orange-icon.png">https://netacadeurope.wordpress.com/tag/technology-in-action</a><br>
          <a href="https://netacadeurope.wordpress.com/2015/02/02/hackathon-passion/" target="_blank"><img src="/images/link-orange-icon.png">https://netacadeurope.wordpress.com/2015/02/02/hackathon-passion</a><br>
          <a href="http://netacad-partner-summit-2014.netacad.eu/websites/files/63/IoE-WorkshopDay.pdf" target="_blank"><img src="/images/link-orange-icon.png">http://
          netacad-partner-summit-2014.netacad.eu/websites/files/63/IoE-WorkshopDay.pdf</a><br>
          <a href="http://netacad-partner-summit-2014.netacad.eu/websites/files/63/HowTo-SocialAlarmClock.pdf" target="_blank"><img src="/images/link-orange-icon.png">http://
          netacad-partner-summit-2014.netacad.eu/websites/files/63/HowTo-SocialAlarmClock.pdf</a><br>
          <a href="https://netacadeurope.wordpress.com/2015/01/27/2nd-day-hackathon-milan/" target="_blank"><img src="/images/link-orange-icon.png">https://netacadeurope.wordpress.com/2015/01/27/2nd-day-hackathon-milan</a><br>
          <a href="http://switchupchallenge.com/" target="_blank"><img src="/images/link-orange-icon.png">http://switchupchallenge.com</a>
        </div>
      </section>


      <section class="partners">
          <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 partners-title">Friend Universities</div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/usc.png" alt="Microsoft BizSpark" title="University of Southern California"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ucla.png" alt="Rackspace" title="UCLA"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ohiou.png" alt="Digilent" title="Ohio University"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/alpdillingen.png" alt="Robofun" title="ALP Dillingen"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ulmu.png" alt="Dexter Industries" title="Ulm University"></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/upb.png" alt="University Politehnica of Bucharest" title="University Politehnica of Bucharest"></span>
            </div>
            <div class="col-md-2 col-md-push-4 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/alaskau.png" alt="Dexter Industries" title="Alaska University"></span>
            </div>
            <div class="col-md-2 col-md-push-4 col-sm-4 col-xs-12">
              <span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/waterfordiot.png" alt="University Politehnica of Bucharest" title="Waterford Institute of Technology"></span>
            </div>
          </div>
        </section>

        <% include footer %>

        <script src="/js/custom.js"></script>

      </body>
      </html>
