<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>IoT Education</title>
  <!-- <meta name="keywords" content="IoT, teacher, training"> -->
  <meta name="description" content="Do you want an IoT course for your students or employees and need someone to train the trainers? We provide you training and support.">
  <link rel="canonical" href="https://wyliodrin.com/iot-education" />

  <% include libraries %>

</head>

<body>

  <section id="top" class="top-side2 background parallax" style="background-image:url('/images/bg/educationbg.jpg');" data-img-width="1920" data-img-height="811" data-diff="100">
    <% include menu %>
    <div class="container">
      <div class="row">
        <div class="top-title">
          <div>
            <h1><strong>The Internet of Things</strong> is a rapidly growing concept that peaks many people’s curiosity, <br>and we are here to help you <strong>educate</strong> people for the IoT</h1>
          </div>
        </div>         
      </div>
    </div>

    <div class="header-bottom2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 prod p1">
            <div class="details-prod left text-center dp1">
              <span>Do you...</span>
              <ul class="details-list">
                <li>want to train teachers for IoT courses in your institution</li>
                <li>need help organizing IoT courses</li>
                <li>need an Open Source teaching IDE</li>
              </ul>
            </div>
            <div class="icon-prod right ip1">
              <div>
                <span class="helper"></span>
                <img src="/images/universities-icon.png" class="main-icon">
                <img src="/images/circle1.png" class="circle1" style="rotate(125deg); -webkit-transform: rotate(125deg); transform: rotate(125deg);">
                <img src="/images/circle2.png" class="circle2" style="rotate(305deg); -webkit-transform: rotate(305deg); transform: rotate(305deg);">
              </div>
              <h2>Universities</h2>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 prod">
            <div class="icon-prod left">
              <div>
                <span class="helper"></span>
                <img src="/images/trainings-icon.png" class="main-icon">
                <img src="/images/circle1.png" class="circle1" style="rotate(85deg); -webkit-transform: rotate(85deg); transform: rotate(85deg);">
                <img src="/images/circle2.png" class="circle2" style="rotate(225deg); -webkit-transform: rotate(225deg); transform: rotate(225deg);">
              </div>
              <h2>Companies</h2>
            </div>
            <div class="details-prod right text-center">
              <span>Do you...</span>
              <ul class="details-list">
                <li>need to give an IoT overview to your employees</li>
                <li>look for someone with the IoT expertise</li>
                <li>need help setting up your IoT events</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="medalions">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12"><h3>What can we help you with?</h3></div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="medalion" style="background:url('/images/pics/train.jpg') center;"></div>
        <br>
        <h4 data-aos="fade-up"><strong>Train</strong> the future trainers in <strong>IoT</strong></h4>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="medalion" style="background:url('/images/pics/support.jpg') center;"></div>
        <br>
        <h4 data-aos="fade-up">Provide <strong>technical support</strong> for IT events</h4>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="medalion" style="background:url('/images/pics/curricula.jpg') center;"></div>
        <br>
        <h4 data-aos="fade-up">Write the <strong>curricula</strong> for your course</h4>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="medalion" style="background:url('/images/pics/iotkit.jpg') center;"></div>
        <br>
        <h4 data-aos="fade-up">Help you <strong>build IoT kits</strong> for your events</h4>
      </div>
    </div>
  </section>

  <section class="features-extra grey-bg">
    <div class="container">
      <div class="trainings-contact">
        <form action="/contact/" class="right">
          <button type="submit"><img src="/images/mail-icon.png">Contact us</button>
        </form>
      </div>
    </div>
  </section>

  <section class="medalions">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12"><h3>Educational materials</h3></div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <a href="https://www.youtube.com/channel/UCDe4G1RXRYsOEJzXHixutRA" target="_blank" class="medalion" style="background:url('/images/pics/youtube.png') center;"></a>
        <br>
        <h4><strong>Youtube channel</strong></h4>
        <p>Follow our Youtube channel and have access to the latest tutorials, lectures and presentations we deliver about the Internet of Things and other related aspects.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 text-center">
        <a href="/docs" class="medalion" style="background:url('/images/pics/books.png') center;"></a>
        <br>
        <h4><strong>Published books</strong></h4>
        <p>Given our teaching experience, we decided and help students explore working on IoT projects of their own. Our books aim to provide the knowledge and tutorials needed to succeed.</p>
      </div>
    </div>
  </section>

  <section class="experience grey-bg">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12"><h3>Teacher and Training Experience</h3></div>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <h4>Books</h4>
        <ul>
          <li><strong>“Getting started guide for Intel Galileo and Intel Edison using Wyliodrin”</strong> - Maria Tudor, Ioana Culic and Alexandru Radovici</li>
          <li><strong>“Getting started guide for Raspberry Pi and Arduino using Wyliodrin”</strong> - Madalina Tanea, Ioana Culic, Alexandru Radovici</li>
          <li><strong>“Building a Smart City Infrastructure using Raspberry Pi and Arduino”</strong> – Alexandru Radovici, Ioana Culic, Ovidiu Stoica, Daniel Rosner</li>
        </ul>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12 text-center">
        <h4>Events</h4>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center" style="padding: 0 15px; margin: 0;">
          <ul>
            <li>
              <p><strong>Cisco Partners Meeting, Barcelona 2014</strong></p>
              <p>- IoE workshop for the Cisco Academies representatives</p>
              <p>- 60 people developed projects with Raspberry Pi and Arduino</p>
            </li>
            <li>
              <p><strong>Cisco live - DevNet Hackathon, Milan 2015</strong></p>
              <p>- part of the Cisco live 2015 event, a three days event with IoT workshops to help participants develop a prototype</p>
              <p>- Wyliodrin held technical workshop and offered technical support</p>
              <p>- Wyliodrin software was used for developing the projects</p>
            </li>
            <li>
              <p><strong>Cisco Networking Academy Hackathon, Singapore 2015</strong></p>
              <p>- hackathon organised by Cisco Networking Academy; students had to create an IoT project</p>
              <p>- we held a workshop during which students were introduced to both Raspberry Pi and Arduino, teaching them electronics basics and how to create projects like a blinking LED and gathering data from different sensors</p>
            </li>
            <li>
              <p><strong>Break and Make, Bucharest 2015</strong></p>
              <p>- technical support, running the “Projects presentation & team building” part of the schedule, acquiring and setting up electronic devices and embedded boards used </p>
              <p>- our tutorial book on Intel’s Galileo and Edison was used as documentation</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-center" style="padding: 0 15px; margin: 0;">
          <ul>
            <li>
              <p><strong>Break and Make, Cracow 2015</strong></p>
              <p>- same tasks as in the previous event (Break and Make Bucharest)</p>
              <p>- in addition, held the technical workshop</p>
            </li>
            <li>
              <p><strong>Break and Make, Budapest 2015</strong></p>
              <p>- same tasks as in the previous events (Break and Make Bucharest and Cracow)</p>
              <p>- Wyliodrin used as a developing environment</p>
            </li>
            <li>
              <p><strong>Defi Cisco, Paris and other four cities, 2015</strong></p>
              <p>- technical workshop and mentoring participants</p>
            </li>
            <li>
              <p><strong>Skillzone San Francisco, 2015</strong></p>
              <p>- providing mentorship</p>
            </li>
            <li>
              <p><strong>ALP Dillingen</strong></p>
              <p>- held five IoT trainings over the last three years </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <% include universities %>

  <% include clients2 %>

  <% include footer %>

  <script src="/js/custom.js"></script>

  <% include tawkto %>

</body>
</html>
