<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IoT Way - adapt for the next industrial revolution</title>
<link rel="icon" type="image/png" href="/iotway/favicon.png">
<meta name="description" content="">
<meta name="keywords" content="iot, big data, blockchain, education, courses, lectures, video, network">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic,500italic,700,700italic,300italic' rel='stylesheet' type='text/css' subset='latin-ext'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' subset='latin-ext'>
<link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">

<!--<link rel="stylesheet" href="/iotway/css/font-awesome.min.css">
        <link rel="stylesheet" href="/iotway/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/iotway/css/jquery-ui.theme.min.css">-->
<link rel="stylesheet" href="/iotway/css/aos.css">
<link rel="stylesheet" href="/iotway/css/bootstrap.min.css">
<link rel="stylesheet" href="/iotway/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/iotway/css/main.css">
<!--<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

       <link rel="stylesheet" href="/iotway/css/style.css">
        <link rel="stylesheet" href="/iotway/css/responsive.css">
        <script src="/iotway/js/jquery-3.1.1.min.js"></script>-->
<script src="/iotway/js/jquery-1.12.4.min.js"></script>
<script src="/iotway/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="/iotway/js/vendor/bootstrap.min.js"></script>
<script src="/iotway/js/waypoints.min.js"></script>
<script src="/iotway/js/jquery.counterup.min.js"></script>
<script src="/iotway/js/jquery.easing.1.3.min.js"></script>
<script src="/iotway/js/aos.js"></script>
<script src="/iotway/js/jquery.vide.js"></script>
<script type="text/javascript" src="/iotway/js/scrollmagic/ScrollMagic.js"></script>
<script type="text/javascript" src="/iotway/js/scrollmagic/plugins/debug.addIndicators.js"></script>

</head>

<body>

<section>
  <form class="move">
      <div id="absolute" class="fixed-menu">
        <div class="fixed-menu-container">
          <div class="black-line"></div>
          <fieldset>
          <ul class="top-shield">
            <a href="https://studio.iotway.io" target="_blank"><li class="top-home"><span>Try it now!</span><img src="/iotway/images/trydemo-icon.png" align="right" /></li></a>
      </ul>
            <ul>
              <a href="#navv" class="page-scroll"><li id="r-home"><span>Top</span></li></a>
              <a href="#tech" class="page-scroll"><li id="r-tech"><span>Technologies</span></li></a>
              <a href="#solutions" class="page-scroll"> <li id="r-solutions"><span>Solutions</span></li></a>
              <a href="#ready" class="page-scroll"> <li id="r-ready"><span>Be ready</span></li></a>
              <a href="#usecases" class="page-scroll"><li id="r-usecases"><span>Use cases</span></li></a>
              <a href="#signup" class="page-scroll"><li id="r-signup"><span>Features</span></li></a>
            </ul>
          </fieldset>
        </div>
      </div>
    </form>
</section>

<section id="top" class="top-side not-fullscreen background parallax" style="background-image:url('/iotway/images/top-bg.jpg');" data-img-width="1920" data-img-height="1080" data-diff="100">
  <div class="sat not-fullscreen background parallax" style="background-image:url('/iotway/images/sat1.png');" data-img-width="1920" data-img-height="1080" data-diff="100">
    <nav id="navv" class="navbar navbar-default" role="navigation">
      <div class="container">
        <div id="branding" class="logo col-md-4  col-sm-4 col-xs-7" > <a class="navbar-brand " href="" title="" rel="home"><img class="img-responsive" src="/iotway/images/logo-white.png"></a> </div>
        <button type="button" class="navbar-toggle collapsed col-md-8 col-xs-5 mob-button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <div id="navbar" class="menu navbar-collapse collapse mob-menu-open col-md-8  col-sm-8 col-xs-5"  >
          <ul class="nav navbar-nav">
            <li class="topbtn"><a href="#navv" class="page-scroll">Top</a></li>
            <li><a href="#tech" class="page-scroll">Technologies</a></li>
            <li><a href="#solutions" class="page-scroll">Solutions</a></li>
            <li><a href="#ready" class="page-scroll">Be ready</a></li>
            <li><a href="#usecases" class="page-scroll">Use cases</a></li>
            <li><a href="https://studio.iotway.io" target="_blank">Sign in/up!</a></li>

          </ul>
          <!--<div class="menu-mobile"> Menu</div>--> 
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 site-title">
          <div><h1>Build, scale, innovate</h1></div>  
          <div><h2>Adapt for the next industrial revolution. <span>Now!</span></h2></div>        
          </div>
          <div class="col-md-12 signup-button">
            <a class="btn btn-lg" href="https://studio.iotway.io" target="_blank">Start using IoTWay</a>
          </div>
      </div>
    </div>
  </div>
</section>


<section id="tech" class="tech">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Technologies of the future</strong> at your fingertips today</h2>
        <br><br>
          <div class="col-md-4 col-sm-4 col-sx-12 text-center icontxt">
            <img src="/iotway/images/edge-icon.png">
            <h3>Edge computing</h3>
            <p>The intelligent way to connect sensors and take full advantage of gateway’s computing power</p>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-12 text-center icontxt">
            <img src="/iotway/images/deploy-icon.png">
            <h3>Software deployment </h3>
            <p>The backbone to secure application deployment and updates for smart appliances</p>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-12 text-center icontxt">
            <img src="/iotway/images/analytics-icon.png">
            <h3>Analytics</h3>
            <p>Use advanced analytics and business intelligence to take informed decisions, increase productivity and reduce waste</p>
          </div>
      </div>
    </div>
  </div>
  <div class="planet"></div>
  <div class="solar"><img src="/iotway/images/solar.png"></div>
</section>


<section id="solutions" class="solutions not-fullscreen background parallax" style="background-image:url('/iotway/images/network-bg.jpg');" data-img-width="1920" data-img-height="1418" data-diff="10">
  <div class="why-container container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="padh2"><strong>IoTWay</strong> is your solution to <strong>remotely prototype</strong>, <strong>deploy</strong> and <strong>update applications</strong> on clusters of industrial IoT devices</h2>
        <div class="col-md-12 col-sm-12 col-sx-12 why-item">
          <div class="col-md-6 col-sm-12 col-sx-12 text-left">
            <h3>Fail-safe updates </h3>
            <p>Ensure secure and efficient application deployment and updates on industrial edge devices. No danger of briking or lockout.</p>
          </div>
          <div class="col-md-6 col-sm-12 col-sx-12 text-right">
            <img src="/iotway/images/fail-safe-updated.png">
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-sx-12 why-item">
          <div class="col-md-6 col-sm-12 col-sx-12 text-right mobileorder1">
            <h3>Easy to integrate </h3>
            <p>IoTWay is based on open standards and technologies which integrate seamlessly with your existing infrastructure.</p>
          </div>
          <div class="col-md-6 col-sm-12 col-sx-12 text-left">
            <img src="/iotway/images/easy-to-integrate.png">
          </div>
          <div class="col-md-6 col-sm-12 col-sx-12 text-right mobileorder2">
            <h3>Easy to integrate </h3>
            <p>IoTWay is based on open standards and technologies which integrate seamlessly with your existing infrastructure.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-sx-12 why-item">
          <div class="col-md-6 col-sm-12 col-sx-12 text-left">
            <h3>Remote control and statistics </h3>
            <p>Receive real-time information from your devices. Remotely troubleshoot and repair any issues.</p>
          </div>
          <div class="col-md-6 col-sm-12 col-sx-12 text-right">
            <img src="/iotway/images/remote-control-stats.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="features">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 design">
      <div class=" text-center">
        <h3>Design</h3>
        <span>Sensors, systems and products</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 prototype">
      <div class=" text-center">
        <h3>Prototype</h3>
        <span>Make a proof of concept fast, discover customers and iterate the process in an agile way</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 deploy">
      <div class=" text-center">
        <h3>Deploy</h3>
        <span>At a scale of hundreds of devices at a time, update and maintain them</span>
      </div>
    </div>
  </div>
</section>

<section id="ready" class="tech">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Be ready</strong> for the next industrial revolution</h2>
        <br><br>
          <div class="col-md-4 col-sm-4 col-sx-12 text-center icontxt">
            <img src="/iotway/images/sharing-economy-icon.png">
            <h3>Sharing economy</h3>
            <p>Allows everyone to produce and share data, goods and services at the cost of a few pennies</p>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-12 text-center icontxt">
            <img src="/iotway/images/p2pcommunication-icon.png">
            <h3>Peer to peer communication</h3>
            <p>Empowered by the Internet, humans and devices can communicate directly and efficiently</p>
          </div>
          <div class="col-md-4 col-sm-4 col-sx-12 text-center icontxt">
            <img src="/iotway/images/intelligent-icon.png">
            <h3>Intelligent "things"</h3>
            <p>More than 100 trillion sensors will be connected in a global network, talking to each other, sending data to the cloud and taking actions based on sophisticated analytics, thus forming a global external brain</p>
          </div>
          <div class="col-md-12 col-sm-12 col-sx-12 details-text">
            <p>More than <strong>100 trillion sensors</strong> will be connected in a <strong>global network</strong>, talking to each other, sending data to the cloud and taking actions based on <strong>sophisticated analytics</strong>, thus forming a <strong>global external brain</strong>.</p>
            <p><strong>We offer IoT solutions customised to your company’s needs</strong> and help you adapt to the <strong>Industry 4.0</strong>.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="planet2"></div>
</section>


<section class="signup">
    <div id="usecases" class="use-cases container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2 class="text-white"><strong>Use cases</strong></h2>
              <img src="/iotway/images/use-cases.png" usemap="#Map" />
              <map name="Map" id="Map">
                  <area shape="circle" coords="82,127,87" href="/pdf/use-case-smart-display.pdf" target="_blank" alt="Smart ads" title="Smart ads" />
                  <area shape="circle" coords="445,78,87" href="/pdf/use-case-energy-saving.pdf" target="_blank" alt="Energy saving" title="Energy saving" />
                  <area shape="circle" coords="718,160,89" href="/pdf/use-case-smart-utility-box.pdf" target="_blank" alt="Smart utility boxes" title="Smart utility boxes" />
                  <area shape="circle" coords="1052,104,85" href="/pdf/use-case-smart-farm.pdf" target="_blank" alt="Smart farm" title="Smart farm" />
                  <area shape="circle" coords="224,440,84" href="/pdf/use-case-smart-dispenser.pdf" target="_blank" alt="Smart beverage dispenser" title="Smart beverage dispenser" />
                  <area shape="circle" coords="641,465,86" href="/pdf/use-case-smart-display.pdf" target="_blank" alt="Smart display navigation" title="Smart display navigation" />
                </map>
            </div>
        </div>
    </div>

    <div id="signup" class="signup-container container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2 class="text-white">This is what <strong>you can do</strong> on IOTWay!</h2>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
          <div class="col-md-4 col-sm-12 col-xs-12 reasons text-center">
            <img src="/iotway/images/deploy-manage.png">
            <span>Deploy and manage clusters of production devices. Provision new devices with one click.</strong></span>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 reasons text-center">
            <img src="/iotway/images/secure-deployment.png">
            <span>No updates gone wrong. Secure and safe application updates to all your production devices. </span>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 reasons text-center">
            <img src="/iotway/images/easy-to-integrate-icon.png">
            <span>Easy to integrate with your existing infrastructure with the help of REST and CLI APIs.</span>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <div class="col-md-4 col-sm-12 col-xs-12 reasons text-center">
              <img src="/iotway/images/shell.png">
              <span>Remote shell connection to any of your devices. Easy to diagnose and repair.</strong></span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 reasons text-center">
              <img src="/iotway/images/remote-screen.png">
              <span>Your device has a display? IoTWay provides real-time screenshots for a better control over the devices.</span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 reasons text-center">
              <img src="/iotway/images/cloud-agnostic.png">
              <span>IoTWay is designed to run in your cloud. No third-party policies involved and GDPR compliant.</span>
            </div>
          </div>
		
		    <div class="col-md-12 col-sm-12 col-xs-12">
		  	  <div class="col-md-12" style="margin:auto; margin-top:30px; width:100%;">
			      <a href="https://studio.iotway.io" target="_blank" class="btn btn-lg" style="margin:auto; width:50%;">Create your account now!</a>

		    	</div>
        </div>
		
	      <!--<div class="col-md-5 col-sm-12 col-xs-12">
          <h4>Enter your name, email and institution</h4>
          <form class="signup-form"  method="post" action="mailer.php">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <input name="fname" type="text" placeholder="First Name*" class="input-lg" id="fname" required />
                <input name="email" type="text" placeholder="Email*" class="input-lg" id="email" required />
                <input type="text" placeholder="Position*" class="input-lg" id="position" required />
                <input type="text" placeholder="Institution*" name="institution" class="input-lg" id="institution" required />
              </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-lg" >Sign up!</button>
            </div>
          </form>
        </div> -->

      </div>
    </div>
  <div class="sat2 not-fullscreen background parallax" style="background-image:url('/iotway/images/sat2.png');" data-img-width="1920" data-img-height="1080" data-diff="100"></div>
  <div class="planet3"></div>
</section>



<footer id="footer" class="footer not-fullscreen background parallax" style="background-image:url('/iotway/images/bottom-bg.jpg');" data-img-width="1920" data-img-height="1080" data-diff="100">
  <div class="container">
    <div class="col-md-6 col-sm-6 col-xs-12 quote">
      <i>It has to be said that Wyliodrin is fantastic effort to bring real-world interactive coding using the Raspberry Pi.
      <div><strong>Simon Walters</strong>,<br>Scratch GPIO</div>
      <div class="q1"><img src="/iotway/images/quote1.png"></div>
      <div class="q2"><img src="/iotway/images/quote2.png"></div>
      </i>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 quote">
      <i>I really like how the environment works and it is really slick with how you connect to the boards. It has changed how I view the Galileo and added a lot of value to the board.
      <div><strong>Derek Runberg</strong>,<br>Educational Technologist,<br>Sparkfun Electronics Inc.</div>
      <div class="q1"><img src="/iotway/images/quote1.png"></div>
      <div class="q2"><img src="/iotway/images/quote2.png"></div>
      </i>
    </div>
  </div>
  <div class="container footer-container">
    <div class="col-md-12 col-sm-12 col-xs-12 copyright">Copyright 2019 <a href="https://iotway.io">IoTWay</a>. All Rights Reserved. </div>
    <div class="col-md-12 col-sm-12 col-xs-12 powered">Powered by <a href="https://wyliodrin.com" target="_blank">Wyliodrin</a></div>
  </div>
</footer>

</div>

<script src="/iotway/js/custom.js"></script>

</body>
</html>
