<section class="partners">
	<div class="container">
		<div class="col-md-2 col-sm-0 col-xs-0"></div>
		<div class="col-md-8 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12 partners-title">Partners</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/bizspark.png" alt="Microsoft BizSpark" title="Microsoft BizSpark"></span>
			</div>
			<!--<div class="col-md-2 col-sm-4 col-xs-12">
			<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/rackpace.png" alt="Rackspace" title="Rackspace"></span>
			</div>-->
			<div class="col-md-4 col-sm-4 col-xs-12">
			<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/digilent.png" alt="Digilent" title="Digilent"></span>
			</div>
			<!--<div class="col-md-2 col-sm-4 col-xs-12">
			<span data-aos="fade-in"			 data-aos-duration="2000"><img src="/images/logos/robofun.png" alt="Robofun" title="Robofun"></span>
			</div>-->
			<div class="col-md-4 col-sm-4 col-xs-12">
			<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/dexter-industries.png" alt="Dexter Industries" title="Dexter Industries"></span>
			</div>
			<!--<div class="col-md-2 col-sm-4 col-xs-12">
			<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/upb.png" alt="University Politehnica of Bucharest" title="University Politehnica of Bucharest"></span>
			</div>-->
		</div>
		<div class="col-md-2 col-sm-0 col-xs-0"></div> 
	</div>
  </section>

  <!--<section class="partners grey-bg">
	<div class="container">
	  <div class="col-md-12 col-sm-12 col-xs-12 partners-title clearfix">Users</div>
	  <div class="col-md-2 col-sm-0 col-xs-0">
	  </div>
	  <div class="col-md-2 col-sm-0 col-xs-0">
	  </div>
	  <div class="col-md-2 col-sm-6 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ccna.png" alt="CCNA.ro" title="CCNA.ro"></span>
	  </div>
	  <div class="col-md-2 col-sm-6 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/coderdojo.png" alt="CoderDojo DCU" title="CoderDojo DCU"></span>
	  </div>
	  <div class="col-md-2 col-sm-0 col-xs-0">
	  </div>
	  <div class="col-md-2 col-sm-0 col-xs-0">
	  </div>
	</div>
  </section>-->