<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Privacy Policy</title>
  <!-- <meta name="keywords" content="Wyliodrin, IoT, deploy,  develop, custom, software"> -->
  <meta name="description" content="Do you want to develop an IoT project together with a team of experienced professionals? Our expertise regarding software engineering and IoT processes might help you.">
  <link rel="canonical" href="https://wyliodrin.com/privacy" />
  <% include libraries %>

</head>

<body>

  <section id="top" class="termscond background parallax" style="background-image:url('/images/bg/termsbg.jpg');" data-img-width="1920" data-img-height="811" data-diff="100">
    <% include menu %>
    <div class="container">
      <div class="row">
        <div class="top-title">
          <div>
            <h1><strong>Privacy Policy</strong></h1>
          </div>
        </div>         
      </div>
    </div>

  </section>

  <section class="terms">
    <div class="container text-left">
      <h3><strong>Introduction</strong></h3>
      <p>We at Wyliodrin respect the protection of your privacy and we are committed to protecting it through our compliance with this policy, where we are applying the guidelines set out by the new General Data Protection Regulation (GDPR). This policy describes how we handle data which may be directly or indirectly related to natural persons (personal data). 
        <br><br>
        The payment processors that we use have their own privacy policies, which we encourage you to read.
        <br><br>
        We comply with relevant privacy laws and this Privacy Policy at all times.</p>
      <p>&nbsp;</p>
      <h3><strong>What information we collect</strong></h3>
      <p>The only information Wyliodrin collects is when you create your account (name, email address), or when you subscribe to our newsletter (name, email address). When creating an account, the information is provided from third-party platforms (facebook, google, github) and you can choose what personal data to share with Wyliodrin.</p>
      <p>&nbsp;</p>
      <h3><strong>How we use your personal data</strong></h3>
      <p>The personal information that we collect is used to:</p>
      <ul>
          <li>Provide you with the service, products and information related to the service/products</li>
          <li>Send you notifications related to your account and the service that we provide</li>
          <li>Improve the service/products</li>
      </ul>
      <br>
      <p>The anonymous usage information that we collect is used to:</p>
      <ul>
          <li>Estimate our audience size and usage patterns.</li>
          <li>Improve the service based on the aforementioned patterns.</li>
      </ul>
      <p>&nbsp;</p>
      <h3><strong>Providing your personal data to others</strong></h3>
      <p>Wyliodrin does not share your data with any third party at this time, except the governing authorities on request, as is required by law. If this will change in the future, you will be notified.</p>
      <p>&nbsp;</p>
      <h3><strong>Accessing and Correcting Your Personal Information</strong></h3>
      <p>You can send us an email at support at wyliodrin.com to request access to, correct, port, delete or restrict the use of any personal information that you have provided to us. 
        <br><br>
        Please note that if you request to delete all your personal information that means that we will delete your user account too.
      </p>
      <p>&nbsp;</p>
      <h3><strong>Amendments</strong></h3>
      <p>We may update our Privacy Policy from time to time. In case of material changes to how we treat our users’ personal information, we will send notifications to our users that the Privacy Policy has been updated.
          <br><br>
          It is the user's responsibility to have an active deliverable email address and to check periodically Privacy Policy to check for any amendments.
      </p>
      <p>&nbsp;</p>
      <h3><strong>Your rights</strong></h3>
      <p>You have the right to be informed, rectify, erase, restrict processing, port, and object in relation to your personal information. However, we reserve the right to perform an identity check of the individual submitting the inquiry, in accordance with legal requirements and to ensure the security of the user's personal information.</p>
      <p>&nbsp;</p>
      <h3><strong>About cookies</strong></h3>
      <p>Cookies are small pieces of text sent to your web browser by a website you visit. The main purpose of a cookie is to identify users and possibly prepare customized web pages or to save site login information for you. By using cookies Wyliodrin identifies who you are and grants you access to the provided services by logging you into your account. 
        <br><br>
        There are two types of cookies: "persistent" or "session" cookies.</p>
      <p>&nbsp;</p>
      <h3><strong>Cookies that we use</strong></h3>
      <p>When creating an account and accessing the service at cloud.wyliodrin.com we may place a number of cookies in your web browser.
        <br><br>
        Wyliodrin uses cookies to log in users into their accounts and to enable the service.
      </p>
      <p>&nbsp;</p>
      <h3><strong>Third-party cookies</strong></h3>
      <p>In addition to our own cookies, we may also use various third-party cookies to report anonymous usage statistics of the site such as:
          <ul>
              <li>Google Analytics - Measure site traffic and performance (<a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>)</li>
          </ul>
      </p>
      <p>&nbsp;</p>
      <h3><strong>Managing cookies</strong></h3>
      <p>If you do not wish to have cookies set on your device, you can adjust the settings on your internet browser and choose from the available Cookies setting to best meet your preferences. Please keep in mind that cookies may be required for certain functionalities, and by blocking these cookies, you may limit your access to certain parts or features of our sites and platforms.
        <br><br>
        Also, while cookies are set for varying durations on your device, you can manually delete them at any time. However, deleting cookies will not prevent the site from setting further cookies on your device unless you adjust the settings discussed above.</p>
      <p>&nbsp;</p>
      <h3><strong>Contact</strong></h3>
      <p>Please contact us with any questions or comments about this Privacy Policy, our privacy practices, or your consent choices by email at support@wyliodrin.com.</p>
      <p>&nbsp;</p>
    </section>

    <% include universities %>

    <% include clients2 %>

    <% include footer %>

    <script src="/js/custom.js"></script>

  </body>
  </html>
