<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Terms and Conditions</title>
  <!-- <meta name="keywords" content="Wyliodrin, IoT, deploy,  develop, custom, software"> -->
  <meta name="description" content="Do you want to develop an IoT project together with a team of experienced professionals? Our expertise regarding software engineering and IoT processes might help you.">
  <link rel="canonical" href="https://wyliodrin.com/terms" />
  <% include libraries %>

</head>

<body>

  <section id="top" class="termscond background parallax" style="background-image:url('/images/bg/termsbg.jpg');" data-img-width="1920" data-img-height="811" data-diff="100">
    <% include menu %>
    <div class="container">
      <div class="row">
        <div class="top-title">
          <div>
            <h1><strong>Terms</strong> and <strong>Conditions</strong></h1>
          </div>
        </div>         
      </div>
    </div>

  </section>

  <section class="terms">
    <div class="container text-left">
      <h3><strong>Introduction</strong></h3>
      <p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
      <p>You must be at least 13 years of age to use this website. By using this website and by agreeing to these terms and conditions you warrant and represent that you are at least 13 years of age.</p>
      <p>This website uses cookies. By using this website and agreeing to these terms and conditions, you consent to our WYLIODRIN&#8217;s use of cookies in accordance with the terms of WYLIODRIN&#8217;s privacy policy.</p>
      <p>&nbsp;</p>
      <h3><strong>License to use website</strong></h3>
      <p>Unless otherwise stated, WYLIODRIN and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>
      <p>You may view, download for caching purposes only, and print pages or projects from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
      <h3><strong>You must not:</strong></h3>
      <ul>
        <li>Republish material from this website (including republication on another website), sell, rent or sub-license material from the website, show any material from the website in public without a clear and visible display of Wyliodrin Logo and a reference to Wyliodrin website.</li>
        <li>Reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose without a written approval from Wyliodrin.<br />
          edit or otherwise modify any material on the website; or<br />
        redistribute material from this website (except for content specifically and expressly made available for redistribution) without a written approval from Wyliodrin</li>
      </ul>
      <p>&nbsp;</p>
      <h3><strong>Acceptable use</strong></h3>
      <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
      <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
      <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without WYLIODRIN&#8217;S express written consent.</p>
      <p>You must not use this website to transmit or send unsolicited commercial communications.</p>
      <p>You must not use this website for any purposes related to commercial marketing without WYLIODRIN’S express written consent.</p>
      <p>&nbsp;</p>
      <h3><strong>Restricted access</strong></h3>
      <p>Access to certain areas of this website is restricted. WYLIODRIN reserves the right to restrict access to areas of this website, or indeed this entire website, at WYLIODRIN&#8217;S discretion.</p>
      <p>If WYLIODRIN provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.</p>
      <p>WYLIODRIN may disable your user ID and password in WYLIODRIN&#8217;S sole discretion without notice or explanation.</p>
      <p>&nbsp;</p>
      <h3><strong>User content</strong></h3>
      <p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material, audio-visual materia and source codes) that you submit to this website, for whatever purpose.</p>
      <p>You grant to WYLIODRIN a worldwide, irrevocable license to store your user content.</p>
      <p>Your user content must not be illegal or unlawful, must not infringe any third party&#8217;s legal rights, and must not be capable of giving rise to legal action whether against you or WYLIODRIN or a third party (in each case under any applicable law).</p>
      <p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
      <p>WYLIODRIN reserves the right to edit or remove any material submitted to this website, or stored on WYLIODRIN&#8217;S servers, or hosted or published upon this website.</p>
      <p>Notwithstanding WYLIODRIN&#8217;S rights under these terms and conditions in relation to user content, WYLIODRIN does not undertake to monitor the submission of such content to, or the publication of such content on, this website.</p>
      <p>&nbsp;</p>
      <h3><strong>No warranties</strong></h3>
      <p>This website is provided “as is” without any representations or warranties, express or implied. WYLIODRIN makes no representations or warranties in relation to this website or the information and materials provided on this website.</p>
      <p>Without prejudice to the generality of the foregoing paragraph, WYLIODRIN does not warrant that:</p>
      <p>this website will be constantly available, or available at all; or<br />
        the information on this website is complete, true, accurate or non-misleading.<br />
      Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any technical matter you should consult an appropriate professional.</p>
      <p>&nbsp;</p>
      <h3><strong>Limitations of liability</strong></h3>
      <p>WYLIODRIN will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
      <p>for any indirect, special or consequential loss; or<br />
        for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.<br />
      These limitations of liability apply even if WYLIODRIN has been expressly advised of the potential loss.</p>
      <p>&nbsp;</p>
      <h3><strong>Exceptions</strong></h3>
      <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit WYLIODRIN&#8217;S liability in respect of any:</p>
      <p>fraud or fraudulent misrepresentation on the part of WYLIODRIN; or<br />
        matter which it would be illegal or unlawful for WYLIODRIN to exclude or limit, or to attempt or purport to exclude or limit, its liability.<br />
      Reasonableness</p>
      <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
      <p>If you do not think they are reasonable, you must not use this website.</p>
      <p>&nbsp;</p>
      <h3><strong>Other parties</strong></h3>
      <p>You accept that, as a limited liability entity, WYLIODRIN has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against WYLIODRIN&#8217;S officers or employees in respect of any losses you suffer in connection with the website.</p>
      <p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect WYLIODRIN&#8217;S officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as WYLIODRIN.</p>
      <p>&nbsp;</p>
      <h3><strong>Unenforceable provisions</strong></h3>
      <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
      <p>&nbsp;</p>
      <p><strong>Indemnity</strong></p>
      <p>You hereby indemnify WYLIODRIN and undertake to keep WYLIODRIN indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by WYLIODRIN to a third party in settlement of a claim or dispute on the advice of WYLIODRIN&#8217;S legal advisers) incurred or suffered by WYLIODRIN arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>
      <p>&nbsp;</p>
      <h3><strong>Breaches of these terms and conditions</strong></h3>
      <p>Without prejudice to WYLIODRIN&#8217;S other rights under these terms and conditions, if you breach these terms and conditions in any way, WYLIODRIN may take such action as WYLIODRIN deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
      <p>&nbsp;</p>
      <p><strong>Variation</strong></p>
      <p>WYLIODRIN may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>
      <p>&nbsp;</p>
      <h3><strong>Assignment</strong></h3>
      <p>WYLIODRIN may transfer, sub-contract or otherwise deal with WYLIODRIN&#8217;S rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
      <p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>
      <p>&nbsp;</p>
      <h3><strong>Severability</strong></h3>
      <p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
      <p>&nbsp;</p>
      <p><strong>Entire agreement</strong></p>
      <p>These terms and conditions constitute the entire agreement between you and WYLIODRIN in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
      <p>&nbsp;</p>
      <h3><strong>Law and jurisdiction</strong></h3>
      <p>These terms and conditions will be governed by and construed in accordance with the Romanian Law, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of Romania.</p>
      <p>&nbsp;</p>
      <h3><strong>WYLIODRIN details</strong></h3>
      <p>S.C. Wyliodrin S.R.L.<br />
        Tirgu Mures, Romania<br />
        You can contact WYLIODRIN <a href="/contact">here</a></p>
      </div>
    </section>

    <% include universities %>

    <% include clients2 %>

    <% include footer %>

    <script src="/js/custom.js"></script>

  </body>
  </html>
