<section class="partners">
	<div class="container">
	  <div class="col-md-12 col-sm-12 col-xs-12 partners-title">Used by</div>
	  <div class="col-md-2 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/usc.png" alt="University of Southern California" title="University of Southern California"></span>
	  </div>
	  <div class="col-md-2 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ucla.png" alt="UCLA" title="UCLA"></span>
	  </div>
	  <div class="col-md-2 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ohiou.png" alt="Ohio University" title="Ohio University"></span>
	  </div>
	  <div class="col-md-2 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/alpdillingen.png" alt="ALP Dillingen" title="ALP Dillingen"></span>
	  </div>
	  <div class="col-md-2 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/ulmu.png" alt="Ulm University" title="Ulm University"></span>
	  </div>
	  <div class="col-md-2 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/upb.png" alt="University Politehnica of Bucharest" title="University Politehnica of Bucharest"></span>
	  </div>
	  <div class="col-md-4 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/alaskau.png" alt="Alska University" title="Alaska University"></span>
	  </div>
	  <div class="col-md-4 col-sm-4 col-xs-12">
		<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/waterfordiot.png" alt="Waterford Institute of Technology" title="Waterford Institute of Technology"></span>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<span data-aos="fade-in" data-aos-duration="2000"><img src="/images/logos/coderdojo.png" alt="Coder Dojo" title="Coder Dojo"></span>
	</div>
	</div>
  </section>