body { font-family:"Open Sans", sans-serif, Arial; font-size:14px; background: #ffffff !important; background-size: cover; margin: 0;width: 100%;height: 100%; }
html {margin: 0;width: 100%;height: 100%; overflow-x:hidden;}

a {  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* -ms-word-break: break-all; */
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /* word-break: break-all; */
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: #e44426;
  text-decoration: none;
}

a:hover {color: #e44426; text-decoration: underline !important;}


.left { float:left;}
.right { float:right;}

.grey-bg {background:#efefef !important; border-top:#c4c5c7 dotted 1px;}
.border-top {border-top:#c4c5c7 dotted 1px;}
.border-right {border-right:#c4c5c7 dotted 1px;}

.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}

.text-white { color:#fff !important;}

.nopadmar {margin: 0; padding: 0;}

.topbtn {display: none !important;}

.active {color:#e44426;}

.overshade {position: absolute; width: 100%; height: 60%; background: rgba(10, 37, 9, 0.7); top:0;}

a:hover { color:#e44426; text-decoration:none}
header { padding:0 0; width:100%;}  

.navbar {background:none; border-radius:0;  padding-top:70px; box-shadow:none; border:0;}
.navbar-brand { padding:0; margin:0; height:initial;}
.menu { text-align:right; line-height:60px; float:right}
.menu li a {color:#85c9e4 !important; font-size:20px; padding:10px 10px; margin: 10px 10px 10px 0; font-family:"Roboto", "Open Sans",sans-serif, Arial; font-weight:300;}
.menu li a:hover {color:#fff !important;  opacity:1;}
.menu-mobile {display:none; line-height:60px; color:#fff; font-size:18px; font-weight:bold;text-align:right;}
.menu-mobile:before {content:"\2630";}
.navbar-collapse { float:right;}
.navbar-default .navbar-toggle { border:0; color:#fff !important; line-height:60px; height:60px; background: #e44426 !important; border-radius: 50px;  color:#fff !important; width:60px; padding: 0 15px; z-index: 990; position: fixed; right: 5%; margin:0;}
.navbar-toggle .icon-bar {width:30px !important}
.navbar-default .navbar-toggle .icon-bar { background-color:#fff;}
.nav .active {color:#fff !important;}

.top-side { display:block; padding:0; width:100%; height:100vh; background:#12315e; position:relative; overflow: hidden;}
.top-side h1 {width:100%; text-align:left; color:#c6efff; margin:3% 0; font-family:"Roboto", sans-serif, Arial; font-size:38px; font-weight:300;}
.top-side h1 strong{color:#fff; font-weight:500;}

.top-side2 { display:block; padding:0; width:100%; height:780px; background:#12315e; position:relative;}
.top-side2 h1 {width:100%; text-align:center; color:#c6efff; margin:60px 0; font-family:"Roboto", sans-serif, Arial; font-size:28px; line-height:36px; font-weight:300;}
.top-side2 h1 strong{color:#fff; font-weight:500;}

.top-side3 { display:block; padding:0; width:100%; height:540px; background:#12315e; position:relative;}
.top-side3 h1 {width:100%; text-align:center; color:#c6efff; margin:60px 0; font-family:"Roboto", sans-serif, Arial; font-size:28px; line-height:36px; font-weight:300;}
.top-side3 h1 strong{color:#fff; font-weight:500;}

.top-side4 { display:block; padding:0; width:100%; background:#12315e; position:relative;}
.top-side4 h1 {width:100%; text-align:center; color:#c6efff; margin:60px 0 10px; font-family:"Roboto", sans-serif, Arial; font-size:36px; line-height:36px; font-weight:300;}
.top-side4 h1 strong{color:#fff; font-weight:500;}
.top-side4 .author-div {padding-bottom: 40px; color: #85c9e4;}

#slideshow > div, .type-wrap > div {
    text-align: left;
    color: #fff;
    font-size: 40px;
    margin: 12% auto;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: -30px;
	width:840px;
}
.type-wrap > div > strong > h1 {display: inline;}
.type-wrap img {margin-right:15px;}

.header-bottom {background:rgba(8,32,44,0.8); width:100%; height:40vh; position:absolute; bottom:0;}
.header-bottom h2 {text-align:center; color:#fff; font-family:"Open Sans", sans-serif, Arial; font-size:24px; font-weight:600; margin:60px 0 40px 0;}
.header-bottom h2 a{color:#fff !important;}
.header-bottom h2 a:hover{color:#e54225 !important;}

.header-bottom2 {background:rgba(8,32,44,0.8); width:100%; position:absolute; bottom:0;}
.header-bottom2 h2 {text-align:center; color:#fff; font-family:"Open Sans", sans-serif, Arial; font-size:28px; line-height:34px; font-weight:600; margin:20px 0 40px 0;}
.header-bottom2 .col-md-6:first-child {border-right:#205170 1px dotted;}
.header-bottom2 .col-md-6 {margin:40px 0;}

.header-bottom3 {width:100%; position:absolute; bottom:0;}
.header-bottom3 h2 {text-align:center; color:#fff; font-family:"Open Sans", sans-serif, Arial; font-size:28px; line-height:34px; font-weight:600; margin:20px auto 40px;}
.header-bottom3 .col-md-4:nth-child(2) > div {border-left:#205170 1px dotted; border-right:#205170 1px dotted;}
.header-bottom3 .col-md-4 {padding:0; margin:0;}
.header-bottom3 .icon-prod {width:100%; z-index:100; position:relative;}
.header-bottom3 .prod {position:relative;}
.header-bottom3 .prod .effectbg {height:0%; position:absolute; bottom:0; width:100%; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08172c+0,08172c+100&0+0,1+100 */
		background: -moz-linear-gradient(top, rgba(8,23,44,0) 0%, rgba(8,23,44,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(8,23,44,0) 0%,rgba(8,23,44,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(8,23,44,0) 0%,rgba(8,23,44,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0008172c', endColorstr='#08172c',GradientType=0 ); /* IE6-9 */
}
.header-bottom3 .prod:hover  .effectbg{height:100%;}

.header-bottom4 {background:rgba(8,32,44,0.8); width:100%; position:absolute; bottom:0; padding-top: 120px;}
.header-bottom4 h2 {text-align:center; color:#fff; font-family:"Open Sans", sans-serif, Arial; font-size:28px; line-height:34px; font-weight:300; margin:20px 0 40px 0;}
.header-bottom4 .col-md-12 {margin:40px 0 0 0;}
.header-bottom4 .icon-prod {width:100%; z-index:100; position:relative;}

.header-bottom4 .icon-prod {height: 200px;}
.header-bottom4 .icon-prod > div {width: initial; height: initial;}

.col-md-3 h2 { margin-bottom:20px;}
.icon-combined {margin:10px auto; display: table;}
.icon-combined > div {float:left;}
.icon-combined > div span {text-align:center; color:#c6efff; font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:300; width:100%; display:block; margin-top:15px; line-height:21px;}
.icon-combined > div:hover span {color:#fff;}
.bottom-title {text-align:center; color:#c6efff; font-family:"Roboto", sans-serif, Arial; font-size:30px; font-weight:300; width:100%; display:block; margin-top: -50px; z-index: 100; position: relative;}

.icon-prod {margin:10px auto; display: block; width:40%;}
.icon-prod > div {position: relative; width: 200px; height: 200px; text-align: center; white-space: nowrap; text-align: center; margin: 1em auto;}
.helper {display: inline-block; height: 100%; vertical-align: middle;}
.icon-prod .main-icon {vertical-align: middle; width:90px; height:90px; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}
.icon-prod .circle1 {position: absolute; left: 0; top: 0; -moz-transition: all 0.8s ease; -webkit-transition: all 0.8s ease; -o-transition: all 0.8s ease; transition: all 0.8s ease;}
.icon-prod .circle2 {position: absolute; left: 18px; top: 18px; -moz-transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out;}
.prod:hover .circle1 {filter:hue-rotate(180deg); -ms-transform: rotate(25deg) !important; -webkit-transform: rotate(25deg) !important; transform: rotate(25deg) !important;}
.prod:hover .circle2 {filter:hue-rotate(180deg); -ms-transform: rotate(-25deg) !important; -webkit-transform: rotate(-25deg) !important; transform: rotate(-25deg) !important;}
.prod:hover .main-icon {zoom:100%; width:100px; height:100px;}
.details-prod {margin:40px auto 0; display: block; width:60%; height:100%;}
.details-prod .details-list {color:#fff; font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:300; list-style-image: url('../images/dot.png'); margin:20px auto; max-width:350px; text-align:left; display:table;    padding-left: 30px;}
.details-prod .details-list li {padding:5px 0;}
.details-prod form { width:100%; text-align:center; position:absolute; bottom:30px; width:60%;}
.details-prod button, .details-prod button:active, .details-prod button:focus {border-radius:50px; background:transparent; border:#e54225 2px solid; color:#fff; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:10px 25px 10px 10px;}
.details-prod button:hover { background:#e54225; border:#e54225 2px solid; color:#fff;}
.details-prod button img {padding:10px;}
.details-prod span {font-family:"Roboto", sans-serif, Arial; font-size:24px; font-weight:300; color:#c6efff;}
.details-prod .caret {margin: 17px 10px 17px 0;}
.details-prod .dropdown-menu {right:0; left:initial;}
.details-prod .dropdown-menu>li>a {padding: 10px 20px;}


#trapezoid {border-bottom: 40px solid rgba(8,32,44,0.8); border-left: 50px solid transparent; border-right: 50px solid transparent; height: 0; width: 434px; position: relative; margin: auto; top: -40px;}

.header-btns {position:absolute; margin:auto; width: 50%; bottom: 180px; right: 0; text-align:center; z-index: 999;}
.header-btns form { margin:0 15px; display:inline-block;}
.header-btns button, .header-btns button:active, .header-btns button:focus {border-radius:50px; background:#e54225; color:#fff; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:10px 25px 10px 10px; border:0;}
.header-btns button:hover { color:#fff;
	background: #e54225; /* Old browsers */
	background: -moz-linear-gradient(top, #e54225 0%, #960000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e54225 0%,#960000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e54225 0%,#960000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54225', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
}
.header-btns button img {padding:10px;}
.header-btns .caret {margin: 17px 10px 17px 0;}
.header-btns .dropdown-menu {right:0; left:initial;}
.header-btns .dropdown-menu>li>a {padding: 10px 20px;}

.seenon{position:relative; bottom:0; background:#fff; width:100%; padding:40px 0;}
.seentext{font-size:28px; line-height:40px; color:#0b243b; font-family:"Roboto", sans-serif, Arial; font-weight:300;}
.seenon a{}
.seenon a:hover{filter: saturate(30);}

.partners{padding:0; border-bottom:#f4f4f4 1px solid;}
.partners-title{font-size:30px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:50px 0 0!important}
.partners span{width:100%; text-align:center; padding:20px 10px; display:block;}
.partners .container div{padding:0;}

.features{padding:0 0 0 0; border-bottom:#f4f4f4 1px solid;}
.indexpage .features{padding:0 0 0 0; border-bottom:0px solid;}
.features2{padding:30px 0 0 0;}
.features h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:50px 0;}

.features-icon-box {min-height:320px;}
.features-icon-box h4 {font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:500; color:#000; font-size:20px; margin:40px 0 20px; text-transform:uppercase;}
.features-icon-descr {font-family:"Open Sans", sans-serif, Arial; font-size:16px; font-weight:400; color:#000;}
.features .col-md-3 img {max-width:88px; height:auto;}
.features2 .col-md-3 img {max-width:88px; height:auto;}

.features-icon-box2 {min-height:230px; display: inline-block; padding-top: 40px;}
.features-icon-box2 h4 {font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:500; color:#000; font-size:20px; margin:20px 0 20px; text-transform:uppercase;}

.blog h1 {font-size:30px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:600; color:#000; text-align:left; padding:50px 0 20px 0; max-width:65%; display: inline-block;}
.blog .container {max-width: 1000px; padding-bottom: 30px;}
.author-blog {padding: 70px 0 20px 0; display: inline-block;}

.blog-article .container {max-width: 1000px; padding: 50px 70px; background: #f4f4f4 ; border-radius:0 0 30px 30px; margin-bottom: 50px;}
.blog-article h1 {font-size: 30px; font-weight: 600; margin: 60px 0 20px; color:#e54225;}
.blog-article h2 {font-size: 24px; font-weight: 600; margin: 40px 0 20px;}
.blog-article h2:nth-child(1) {margin-top:0;}
.blog-article h3 {font-size: 20px; font-weight: 600; margin: 40px 0 20px;}
.blog-article img {margin:20px auto 30px; position: relative; left: 0; right: 0; display: block;}
.blog-article ul, .blog-article ol {padding-left:30px;}
.blog-article table{width:100%; margin-bottom: 20px;}
.blog-article table thead {background: #ccc;}
.blog-article table thead th {padding: 10px; text-align: center;}
.blog-article table tbody td {text-align: center; background: #fff; padding: 10px; margin:1px;}
.blog-article .headerimg {max-width: 1000px; padding: 0px; background: #f4f4f4 ; margin:0 auto;}
.blog-article .headerimg img {width: 100%; margin: 0;}
.blog-article a {color:#e54225; text-decoration: none;}
.blog-article a:hover {color:#e54225; text-decoration: underline;}

.poet-read-more{ text-align: center; width: 100%;}
.poet-read-more a {border-radius:50px; background:#e54225; color:#fff !important; font-family:"Roboto", sans-serif, Arial; font-size:14px; font-weight:300; padding:10px 60px; border:0; margin-top: 20px; display: inline-block;}
.poet-read-more a:hover {
	background: #e54225; /* Old browsers */
	background: -moz-linear-gradient(top, #e54225 0%, #960000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e54225 0%,#960000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e54225 0%,#960000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54225', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
}
.pages {text-align: center; display: block; padding: 60px 0;}
.pages a {border-radius:50px; background:transparent; border:#e54225 1px solid; color:#e54225; padding:10px 15px; margin: 0 5px;}
.pages a:hover { background:#e54225; border:#e54225 1px solid; color: #fff;}
.pages > .active, .pages > .active:hover {border:#444 1px solid; color:#444; background: #fff;}

.blog-box {padding: 30px 70px; background: #f4f4f4 ; margin-top: 30px; border-radius: 10px;}
.blog-box h2 {font-size: 30px; font-family: "Roboto",Tahoma,Verdana,Arial; font-weight: 600; color: #000; text-align: left; padding: 10px 0 20px 0; display: inline-block; margin: 0;}
.blog-box .author-blog {padding: 15px 0 20px 0; display: inline-block;}
.blog-box .container {max-width: 1000px; padding-bottom: 20px;}
.blog-box a {color:#e54225; text-decoration: none;}
.blog-box a:hover {color:#e54225; text-decoration: underline;}

.blog-box p:last-child::after {content: "..";}

.blogpost-header {max-width: 1000px; margin: auto; margin-top: 20px; padding-top: 10px; border-radius: 30px 30px 0 0; background: rgba(0,0,0,0.2);}

.features-extra{padding:60px 0 80px 0;}
.features-extra h2{text-align:center; margin-bottom: 40px;}
.features-extra .extra-info h3{text-align:center; margin-bottom: 40px;}
.features-extra2{padding:60px 0 80px 0; border-bottom:#c4c5c7 dotted 1px;}
.features-extra2 h4{text-align:center; margin: 0 20% 40px; line-height: 24px;}
.features-extra2 .extra-info h3{text-align:center; margin-bottom: 40px;}
.features-extra3{padding:60px 0 80px 0; border-top:#c4c5c7 dotted 1px;}
.features-extra3 h4{text-align:center; margin: 0 20% 40px; line-height: 24px;}
.features-extra3 .extra-info h3{text-align:center; margin-bottom: 40px;}
.extra-info {max-width: 100%; margin: auto;}
.extra-info h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; margin:30px 0;}
.extra-info p {font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:400; color:#000;}
.extra-info form { margin:0 15px; display:inline-block; width:100%; margin-top:20px; text-align:center;}
.extra-info button {border-radius:50px; background:#e54225; color:#fff; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:10px 25px 10px 10px; border:0;}
.extra-info button:hover {
	background: #e54225; /* Old browsers */
	background: -moz-linear-gradient(top, #e54225 0%, #960000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e54225 0%,#960000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e54225 0%,#960000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54225', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
}
.extra-info button img {padding:10px;}


.trainings-contact form { margin:0 15px; display:inline-block; width:100%; margin-top:0px; text-align:center;}
.trainings-contact button {border-radius:50px; background:#e54225; color:#fff; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:20px 35px 20px 20px; border:0;}
.trainings-contact button:hover {
	background: #e54225; /* Old browsers */
	background: -moz-linear-gradient(top, #e54225 0%, #960000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e54225 0%,#960000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e54225 0%,#960000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54225', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
}
.trainings-contact button img {padding:10px;}

.medalions{padding:0 0 60px 0; border-bottom:#f4f4f4 1px solid;}
.medalions h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:50px 0;}
.medalions h4 {font-family:"Open Sans", sans-serif, Arial; font-size:22px; font-weight:300; color:#000; text-align:center; padding:20px;}
.medalions p {font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:300; color:#000; text-align:center;}
.medalion{ background-position:cover; display: inline-block; height:250px; width:250px; margin:auto; border-radius:200px; main-icon:auto; -webkit-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1); -moz-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1); box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1); border:#e44326 3px solid; -moz-transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out;}
.medalion:hover {border:#08172c 3px solid; -webkit-box-shadow: inset 0px 0px 0px 18px rgba(255,255,255,1); -moz-box-shadow: inset 0px 0px 0px 18px rgba(255,255,255,1); box-shadow: inset 0px 0px 0px 18px rgba(255,255,255,1); }

.recent-blog{padding:0 0 60px 0; border-bottom:#f4f4f4 1px solid;}
.recent-blog h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:50px 0;}
.recent-blog h4 {font-family:"Open Sans", sans-serif, Arial; font-size:22px; font-weight:300; color:#000; text-align:center; padding:20px; margin: 0; color:#000; border-top: #ccc 5px solid;}
.recent-blog a:hover h4 {color:#e54225; border-top: #e54225 5px solid;}
.recent-blog p {font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:300; color:#000; text-align:center;}
.recent-blog-img{ background-position:cover; height:auto; width:100%; margin:auto; main-icon:auto; padding: 10px 0;}

.experience{padding:0 0 60px 0; border-bottom:#f4f4f4 1px solid;}
.experience h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:50px 0;}
.experience h4 {font-size:26px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:600; color:#e54225; text-align:center; padding:0 0 20px 0;}
.experience ul {list-style:none; padding:0 20px; width:100%;}
.experience ul li {font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:300; color:#000; text-align:left; margin-bottom:20px;}
.experience ul li p { text-align:left; margin-bottom:10px;}

.terms{padding:0 0 60px 0; border-bottom:#f4f4f4 1px solid;}
.terms h3 {font-size:24px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:left; padding:20px 0;}

.moreinfo{padding:0 0 60px 0; border-bottom:#f4f4f4 1px solid;}
.moreinfo h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:80px 0 40px 0;}
.moreinfo p {width:70%; margin:20px auto 50px; text-align:center; font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:400;}
.moreinfo ul {list-style-image: url('../images/checkmark.png'); margin:20px auto; width:90%;}
.moreinfo ul li {font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:400; color:#000; text-align:left; margin-bottom:0px; padding:0px 40px 0px 5px; min-height: 130px;}
.moreinfo ul li p { text-align:left; margin-bottom:10px;}
.moreinfo form { display:inline-block; width:100%; margin-top:20px; text-align:center;}
.moreinfo button {border-radius:50px; background:#e54225; color:#fff; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:10px 25px 10px 10px; border:0;}
.moreinfo button:hover {
	background: #e54225; /* Old browsers */
	background: -moz-linear-gradient(top, #e54225 0%, #960000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e54225 0%,#960000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e54225 0%,#960000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54225', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
}
.moreinfo button img {padding:10px;}

.moreinfo2{padding:0 0 0px 0; border-bottom:#f4f4f4 1px solid;}
.moreinfo2 h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:50px 0;}
.moreinfo2 p {width:70%; margin:20px auto 50px; text-align:center; font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:400;}



.indexpage .moreinfo3{padding:0 0 60px 0;}
.indexpage .moreinfo3 h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#fff; text-align:center; padding: 30px 0px; background: rgba(0,0,0,0.7); margin:70px 10% 50px;}
.indexpage .moreinfo3 p {width:70%; margin:20px auto 50px; text-align:center; font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:400;}
.indexpage .moreinfo3 ul {list-style: none; margin:20px auto; width:70%;}
.indexpage .moreinfo3 ul li {font-family:"Open Sans", sans-serif, Arial; font-size:20px; font-weight:300; color:#fff; text-align:left; margin-bottom:0px; padding: 0 0 30px 0; min-height: initial;}
.indexpage .moreinfo3 ul li p { text-align:left; margin-bottom:10px;}
.indexpage .moreinfo3 ul li div {display: -webkit-box;}
.indexpage .moreinfo3 ul li img {vertical-align: middle; float: left; padding: 6px 10px 0 0;}
.indexpage .moreinfo3 form { display:inline-block; width:100%; margin-top:20px; text-align:center;}
.indexpage .moreinfo3 button {border-radius:50px; background:#000; color:#fff; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:10px 25px 10px 10px; margin-top: 15px; border:0;}
.indexpage .moreinfo3 button:hover {background: #fff; color: #000;}
.indexpage .moreinfo3 button img {padding:10px;}
.indexpage .moreinfo3 button:hover img {filter:invert(100%);}
.indexpage .moreinfo3 h3:hover {background: #000 !important;}
.indexpage .features-icon-box2:hover p{color:#e54225;}


.indexpage .moreinfo3 form {max-width: 100%; margin: auto;}

.features-extra .moreinfo form {max-width: 80%; margin: auto;}

.books{padding:0 0 40px 0; border-bottom:#f4f4f4 1px solid;}
.books h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:40px 0;}
.books p {width:70%; margin:20px auto 50px; text-align:center; font-family:"Open Sans", sans-serif, Arial; font-size:18px; font-weight:400;}
.book-box {margin:30px 0;}
.book-box h4 {font-size:18px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:600; color:#000; margin:40px 20px; position:relative;}
.book-btns {margin:auto; display:table;}
.book-box form { margin:0 10px; display:inline-block;}
.book-box button {border-radius:50px; background:transparent; border:#e54225 1px solid; color:#e54225; padding:15px;}
.book-box button:hover { background:#e54225; border:#e54225 1px solid;}
.book-box button:hover img{filter:brightness(1000%);}
.book-cover {position:relative; max-width:250px; height:353px; margin:20px auto;}
.book-cover img {position:relative; z-index:100;}
.book-cover .bookbg {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10;
    bottom: -2px;
    right: -2px;
}
.book-cover .bookbg2 {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 9;
    bottom: -4px;
    right: -4px;
}
.book-cover .bookbg3 {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 8;
    bottom: -6px;
    right: -6px;
}
.book-cover .bookbg4 {
    width: 100%;
    height: 100%;
    background: #ccc;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 7;
    bottom: -7px;
    right: -7px;
}

.contact{padding:0 0 40px 0; border-bottom:#f4f4f4 1px solid;}
.contact h1 {padding-top: 40px; display: inline-block;}
.contact h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:left; padding:40px 0; display:inline-block; float:left; line-height:36px;}
.contact .phone {font-size:18px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:500; color:#000; text-align:left; padding:40px 0; display:inline-block; float:right; line-height:36px; margin-top: 20px; margin-bottom: 10px;}
.contact .phone img{margin-right:5px;}
.contact input {width:100%; margin-bottom:25px; background:#f2f2f2; font-family:"Open Sans",san-serif; font-size:16px; color:#000; border:#ccc solid 1px;}
.contact textarea {width:100%; margin-bottom:0; background:#f2f2f2; height:117px;font-family:"Open Sans",san-serif; font-size:16px; color:#000; border:#ccc solid 1px; margin-bottom: 25px;}
.contact form { margin:0 15px; display:inline-block;}
.contact button {border-radius:50px; background:#e54225; color:#fff; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:10px 25px 10px 10px; border:0; width:80%; margin:20px 0 40px;}
.contact button:hover { color:#fff;
	background: #e54225; /* Old browsers */
	background: -moz-linear-gradient(top, #e54225 0%, #960000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e54225 0%,#960000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e54225 0%,#960000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54225', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
}
.contact button img {padding:10px;}
.contact .success { color:green; font-size:14px; line-height:30px; text-align:center}

.contact-maps{border-bottom:#f4f4f4 1px solid; font-size: 16px;}
.contact-maps .col-md-6 {padding:5%; text-align: center;}
.contact-maps h4 {font-size:24px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:600; color:#000; text-align:left; display:inline-block; line-height:36px;}
.contact-maps img {max-width: 80%; height: auto;}
.contact-maps a {text-decoration: none;}
.contact-maps > div {text-align: left;}

.contact-maps .medalion{ background-position:cover; height:350px; width:350px; margin:auto; border-radius:200px; main-icon:auto; -webkit-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1); -moz-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1); box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1); border:#e44326 3px solid; -moz-transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out;}
.contact-maps .medalion:hover {border:#08172c 3px solid; -webkit-box-shadow: inset 0px 0px 0px 18px rgba(255,255,255,1); -moz-box-shadow: inset 0px 0px 0px 18px rgba(255,255,255,1); box-shadow: inset 0px 0px 0px 18px rgba(255,255,255,1); }

#recaptcha {margin:10px 0;}
#recaptcha > div {margin:auto;}
.message-sent div {width: 100%; margin: 25px 0; background: #6db100; font-family: "Open Sans",san-serif; font-size: 18px; color: #fff; border: #548800 solid 1px; padding: 20px 15px; border-radius: 5px; text-align: center;}
.message-fail div {width: 100%; margin: 25px 0; background: #b10000; font-family: "Open Sans",san-serif; font-size: 16px; color: #fff; border: #610000  solid 1px; padding: 20px 15px; border-radius: 5px; text-align: center;}


.links{padding:0 0 40px 0; border-bottom:#f4f4f4 1px solid;}
.links h3 {font-size:36px; font-family:"Roboto",Tahoma,Verdana,Arial; font-weight:400; color:#000; text-align:center; padding:40px 0;}
.links a {border-radius:50px; background:transparent; border:#e54225 1px solid; color:#e54225; font-family:"Roboto", sans-serif, Arial; font-size:18px; font-weight:300; padding:10px 25px 10px 10px; margin:10px; display: inline-block;}
.links a:hover {background:#e54225; border:#e54225 1px solid; color:#fff;}
.links a img {padding:10px;}
.links a:hover img{filter:brightness(1000%);}

.footer{background:#fff;text-align:center; padding:40px 0; font-family:"Open Sans", sans-serif, Arial; font-size:16px; font-weight:500;}
.footer a{color:#000; text-decoration:underline;}
.footer a:hover{color:#e54225;}
.footer .container{text-align:center;}
.footer .container .nav{margin:20px auto; float:initial; display:inline-block;}
.footer .navbar-nav>li>a{color:#000; text-shadow:none; text-decoration:none; -webkit-border-radius:10px!important; -moz-border-radius:10px!important; border-radius:10px!important;}
.footer .navbar-nav>li>a:hover, .active a{color:#e14325 !important; background:none;}
.footer p{margin:0 auto; color:#000;}
.footer p a{color:#e14325; padding:3px 0; text-decoration:none;}
.footer p a:hover{text-decoration:underline;}
.social{margin:20px 0 50px;}


.loginmodal{overflow-y:hidden!important;}
.loginmodal .modal-dialog{max-width:320px;border:0;margin:20vh auto 0; z-index:1500;}
.loginmodal .modal-content{text-align:center;margin:auto;background:#fff;color:#3c5459;padding:0 0 20px;border:0;-webkit-border-radius:10px!important;-moz-border-radius:10px!important;border-radius:10px!important;}
.loginmodal .modal-header{border:#f4f4f4;}
.loginmodal .modal-title{font-family:"Roboto", "Open Sans",Tahoma,Verdana,Arial;font-size:24px;color:#3c5459;margin-top:10px;font-weight:700;}
.loginmodal .modal-noscrollbar{margin-right:0!important}
.loginmodal a img{margin:10px 0;}

.trylink {display: block; background:transparent; margin: 10px auto; height: 41px; width: 209px; line-height: 39px; color: #e54225; border-radius: 3px; border: #e54225 1px solid;}
.trylink:hover {color: #fff; background: #e54225; border: #e54225 1px solid;}


.error { display:block; padding:0; width:100%; height:350px; position:relative; overflow: hidden;}
.error h1 {width:100%; text-align:center; color:#c6efff; margin:3% 0; font-family:"Roboto", sans-serif, Arial; font-size:38px; font-weight:300;}
.error h1 strong{color:#fff; font-weight:500;}
.error img {margin-right:15px;}

.termscond { display:block; padding:0; width:100%; height:350px; position:relative; overflow: hidden;}
.termscond h1 {width:100%; text-align:center; color:#c6efff; margin:5% 0; font-family:"Roboto", sans-serif, Arial; font-size:38px; font-weight:300;}
.termscond h1 strong{color:#fff; font-weight:500;}

.top-msg {background-color: #031d23; color: #eee; font-size: 13px; position: fixed; top:0; z-index: 1000; width: 100%;}
.top-msg > div > span{width: 100%; display: inline-block; padding: 20px 0; position: relative; padding-right: 100px;}
.top-msg a {color:#ffbe00 !important; text-decoration:none;}
.top-msg a:hover {text-decoration:underline;}
.top-msg button{border-radius: 50px; font-size: 13px !important; background: #e54225; border:0; text-shadow: none; box-shadow: none; color: #fff; position: absolute; top: 13px; right:15px;}
.top-msg button:hover, .top-msg button:active, .top-msg button:focus {background: #fff; color:#e54225; border: 0; outline: none;}

.logo-padding {padding: 60px 0 40px;}

.ecosystem img {width: 100%; height: auto;}

.howitworks {text-align: center;}
.howitworks img {width: 100%; height: auto; max-width: 1200px;}

.breadcrumb-box {background: #eee;}
.breadcrumb {background: #eee; margin:20px 0;}
.breadcrumb li{font-size: 16px;}
.breadcrumb li a{color: #000;}
.breadcrumb li a:hover{color: #e54225;}


.blog-article .breadcrumb-box {background: #eee;}
.blog-article .breadcrumb {background: #eee; margin:0px 0; padding:20px 40px;}
.blog-article .breadcrumb li{font-size: 16px;}
.blog-article .breadcrumb li a{color: #000;}
.blog-article .breadcrumb li a:hover{color: #e54225;}

.studio-box {text-align: center;}
.studio-box img {max-height: 270px; margin-top: 8%;}

.button-undertext {position: absolute; font-size: 1.1rem; margin: auto; text-align: center; width: 100%; top: 35px; top: 40px; opacity: 0.7;}

.flexslider { background: none; border:0; margin-top:100px; z-index:100;}
.flex-direction-nav a{ height:50px;}
.flexslider .flex-direction-nav .flex-prev {
    opacity: 0;
    left: -5%;
}
.flexslider .flex-direction-nav .flex-next {
    opacity: 0;
    right: -5%;
}
.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: -5%;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: -5%;
}
.flex-direction-nav a:before{
	color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.flextext {font-family:"Roboto", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif; color:#85c9e4; font-size:36px; margin:auto; margin-top:70px; width:100%; text-align:center;}
.flextext strong { color:#fff; font-weight:bold;}

.maincontent {padding-top:20px; float:left; background:#fff; width:100%;}
.maincontent .col-md-6 {padding:20px;}

.greybg { background:#f4f4f4;}
.greybg .featureimg {float:left;}
.greybg .featuretxt {float:right;}

.whitebg { background:#fff;}

.featuretxt { padding-top:110px !important; float:left;}
.featuretxt h1 { color:#e54225;}
.featureimg { text-align:center; padding-top:60px !important; padding-bottom:0 !important;}
.featureimg img {width:100%; max-width:500px;}

@media (max-width: 1600px) {
.navbar {padding-top:40px;}
.menu li a { font-size: 18px; }
#slideshow h1, .type-wrap > div > strong > h1 {font-size:32px; display: inline;}
.type-wrap > div > span {font-size:32px;}
#slideshow > div, .type-wrap > div {width:720px; margin: 12% auto;}
.header-btns {margin-top: -20vh; bottom: 170px;}
button{font-size:16px !important;}
.bottom-title {font-size: 26px;}
.header-bottom h2 {font-size:20px; margin: 30px 0 40px 0;}
.col-md-6 .icon-combined img {width:90px; height:auto;}
.col-md-3 .icon-combined img {width:100px; height:auto;}
.seentext {font-size:22px; text-align:center; margin-bottom:20px;}
.flexslider .slides img {width: 90%; margin: auto;}
.navbar-brand>img {display: block; margin-left: 20%;}
}

@media (min-width: 1400px) {
.container {width:1400px !important;
	
	
}

@media (max-width: 1400px) {
.navbar {padding-top:40px;}
.menu li a { font-size: 14px; }
#slideshow h1, .type-wrap > div > strong > h1 {font-size:30px;}
.type-wrap > div > span {font-size:30px;}
#slideshow > div, .type-wrap > div {width:670px; margin: 12% auto;}
.header-btns {margin-top: -20vh;}
button{font-size:16px !important;}
.bottom-title {font-size: 26px;}
.header-bottom h2 {font-size:20px; margin: 30px 0 40px 0;}
.col-md-6 .icon-combined img {width:80px; height:auto;}
.col-md-3 .icon-combined img {width:100px; height:auto;}
.seentext {font-size:22px; text-align:center; margin-bottom:20px;}

.features-icon-box2 {min-height:280px;}

.contact-maps .medalion {height: 300px; width: 300px;}
.flexslider .slides img {width: 80%;}
.header-btns {bottom: 120px !important;}
}
 
@media (min-width: 1280px) and (max-width: 1399px) {
.container {width:1280px;}
	
}

@media (max-width: 1200px) {
.partners img {width:100%; height:auto;}

.header-bottom2 .container, .header-bottom3 .container {width:100%;}

.details-prod .details-list {font-size:16px;}

.top-side2 h1 {font-size: 24px; line-height: 30px;}
.error h1, .termscond h1 {font-size: 24px; line-height: 30px; margin-top:60px;}

.medalions h4 {font-size:18px;}
.medalions p {font-size:14px;}

.menu li a {font-size: 12px;}

.experience li, .terms li {font-size:16px !important;}


.books p, .book-box h4, .links a {font-size:16px;}

.moreinfo ul {max-width:90%;}
.indexpage .moreinfo3 ul {max-width:100%;}
.indexpage .moreinfo3 h3 {margin: 70px 5% 50px;}

.contact-maps .medalion {height: 200px; width: 200px;}

.contact-maps .text-left, .contact-maps .text-right {zoom: 0.8; padding-top: 10% !important;}
.flextext {margin-top: 20px !important;}

}

@media (max-width: 1000px) {
.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}
.navbar-nav .open .dropdown-menu {
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.navbar {padding-top:30px;}



.navbar-default .navbar-collapse {width: 100%; background: #000; position: fixed; left:0; right:0; top:0; text-align: center; margin: 0; z-index: 910; border: 0;}


h1 { font-size: 28px; }
h3 { font-size: 18px; }

.menu li a { font-size: 14px; }

.topbtn {display: block !important;}

.top-side h1 {width:100%; text-align:center;}

#slideshow h1, .type-wrap > div > strong > h1 {font-size:30px;}
.type-wrap > div > span {font-size:30px;}
#slideshow > div, .type-wrap > div {width:670px; margin: 14% auto;}

.blog-box > div {display: block !important;}
.blog-box h2{width: 100%; display: block; margin-bottom: 0; padding-bottom: 0;}
.author-blog {padding-top: 10px !important;}

}


@media (max-width: 992px) {
	
.menu {display:none;}
.menu-mobile {display:block;}
.fixed-menu { display: none; }

.partners img {width:initial; height:auto;}

.top-side, .top-side2, .top-side3 {height:initial !important;}

#slideshow, .type-wrap {position:relative; height:350px;}
#slideshow > div, .type-wrap > div {width:100%; margin: 20px auto 0; text-align: center;}

.header-bottom {height:initial; position:relative; padding-bottom:60px;}
.header-bottom2 {height:initial; position:relative; padding-bottom:40px;}
.header-bottom3 {height:initial; position:relative; padding-bottom:0px;}
.header-bottom4 {height:initial; position:relative; padding-top:30px;}
.header-bottom4 .icon-prod {margin-bottom: 60px;}

.header-bottom2 .col-md-6:first-child {border-right:0;}
.ip1 {float:left;}
.dp1 {float:right;}

.header-bottom3 .col-md-4:nth-child(2) > div {border-left:#205170 0px dotted; border-right:#205170 0px dotted;}

.features .col-md-3 img {max-width:128px; height:auto;}
.features2 .col-md-3 img {max-width:88px; height:auto;}

.medalions h4 {padding:0 0 10px 0;}
.medalions p {padding:0 0 50px 0;}

.extra-info form {margin:20px 0 10px; float:left;}

.header-bottom3 h2 {min-height: 70px;}

.indexpage .moreinfo3 h3 {margin: 100px 5% 50px;}

.trainings-contact form {margin: 0;}

.contact-maps .medalion {height: 300px; width: 300px;}
.contact-maps .medalion {float: none !important; display: block !important;}
.contact-maps .text-left, .contact-maps .text-right { float: none !important; padding:20px 0 0 0 !important; text-align: center !important;}

.blog-article > .container img {max-width: 90%;}

}


@media (max-width: 768px) { 

.menu {display:none;}
.container-fluid { padding-left:0; padding-right:0;}

.mob-button {position:fixed; right:20px; top:20px;}
.mob-menu-open {position:fixed; right:20px; top:60px;}

.navbar {padding:30px 0 0 0px;}
.navbar-default .navbar-toggle {margin:10px 0;}

#slideshow, .type-wrap {position:relative; height:450px;}
#slideshow h1, .type-wrap > div > strong > h1 {font-size: 26px;}
#slideshow > div, .type-wrap > div {width:100%; margin: 20px auto 0; text-align: center;}
.type-wrap > div > span {font-size:26px;}
.type-wrap > div > strong > h1 img {margin:20px auto; text-align:center; display:block;}

.header-btns {margin-top:-220px;}
.header-btns form {margin:10px;}

.seenon {text-align:center;}
.seenon a img{margin:30px;}

.social .col-xs-6 a img{margin:20px 0;}

.details-prod, .icon-prod {width:100%; margin-top:0;}
.details-prod form {width: 100%; position: relative; width: 100%; bottom:initial;}

.top-title br {display:none;}
.top-title {padding:0 10%;}

.error h1 img {display:block; margin:auto; padding-bottom:20px;}

.header-bottom3 .icon-prod {padding:20px 0 0 0;}
.header-bottom3 .icon-prod > div { zoom:45%;}
.header-bottom3 h2 {min-height:40px; font-size:18px; line-height:20px;}

.header-btns button span > span {display:none;}

.col-md-6 .icon-combined{text-align:center;}
.col-md-6 .icon-combined img {width:60px;}
.icon-combined > div span {font-size:14px; line-height:16px;}

.extra-img img {width:70%; height:auto;}

.top-side2 h1 {margin: 25px 0;}

.icon-prod > div, .medalion {zoom:80%;}

.moreinfo ul {max-width:50%;}
.moreinfo ul li {padding:20px 0 20px 5px;}

.contact h3, .contact .phone { float:initial; width:100%; text-align:center; margin:35px 0; padding:0;}
.contact h1 { float:initial; width:100%; text-align:center; margin:35px 0; padding:0;}

.blog {margin: 0 5%;}
.blog-post .top-title {padding: 0 !important;}
.blog-post .top-title h1 {font-size: 28px; padding: 0 5%;}
.blogpost-header {border-radius: 0;}
.breadcrumb-box {display: none;}
.blog-article .container {padding: 10%; overflow-x: hidden; border-radius: 0; margin-bottom: 0;}

.recent-blog a {margin-top: 30px;}
.recent-blog h3 {padding: 20px 0;}

.blog-box {padding: 10%;}

.studio-box img {max-width: 90%; margin-top: 5%;}

}


@media (max-width: 350px) {

.col-md-6 .icon-combined div{}
#slideshow h1, .type-wrap > div > strong > h1 {font-size: 22px;}
#slideshow > div, .type-wrap > div {width:100%; margin: 20px auto 0; text-align: center;}
.top-side2 h1 {font-size:18px;}

.col-md-6 .icon-combined img {width:45px;}
.icon-combined > div span {font-size:12px; line-height:14px;}

.icon-prod > div, .medalion {zoom:70%;}

.header-bottom3 .icon-prod {padding:20px 0 0 0;}
.header-bottom3 .icon-prod > div { zoom:35%;}
.header-bottom3 h2 {min-height:30px; font-size:14px; line-height:16px;}

}


/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

ul { padding: 0; }

